<div class="options">
    <ul>
        <li><a routerLink='/userDashboard'>HOME</a></li><!-- 
        --><li>&nbsp;&nbsp;&nbsp;<a routerLink='/user/dispBooks'>VIEW BOOKS</a></li>
        <li>&nbsp;&nbsp;&nbsp;<a routerLink="/borrow">BORROW</a></li>
        <li>&nbsp;&nbsp;&nbsp;<a routerLink="/user/viewBorrowal">VIEW BORROWALS</a></li>
        <li>&nbsp;&nbsp;&nbsp;<a routerLink="/user/search">SEARCH</a></li>
        <li>&nbsp;&nbsp;&nbsp;<a routerLink="/login" (click)="logout()">LOGOUT</a></li>
    </ul>
</div>
