<div class="options">
    <ul>
        <li><a routerLink='/librarianDashboard'>HOME</a></li><!-- 
        --><li>&nbsp;&nbsp;&nbsp;<a routerLink='/manBooks'>MANAGE BOOKS</a></li>
        <li>&nbsp;&nbsp;&nbsp;<a routerLink="/register">ADD MEMBER</a></li>
        <li>&nbsp;&nbsp;&nbsp;<a routerLink="/members">MANAGE MEMBERS</a></li>
        <li>&nbsp;&nbsp;&nbsp;<a routerLink="/librarian/viewBorrowal">VIEW BORROWALS</a></li>
        <li>&nbsp;&nbsp;&nbsp;<a routerLink="/librarian/search">SEARCH</a></li>
        <li>&nbsp;&nbsp;&nbsp;<a routerLink="/login" (click)="logout()">LOGOUT</a></li>
    </ul>
</div>
