.container{
    position: absolute;
    top:0px;
    bottom: 0px;
    left:0px;
    right:0px;
    padding: 0;
    background: #ffffff;
    font-family: 'Rubik', sans-serif;
    
  } 
.container .content{
    position: relative;
    padding-top: 179px;
    padding-bottom: 397px;
    
}
.container .welcome {
  background-image: url("https://wallpaperaccess.com/full/253332.jpg");
  filter: blur(2px);
  -webkit-filter: blur(2px);
  height: 87%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.616);
  color: white;
  font-weight: bold;
  font-family: 'Harrington';
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.options{
  position: absolute;
  top : 30px;
  right: 20px;
  padding: 5px 20px 0;
  align-items: right;
  z-index: 2;
  font-family: 'Centaur','Sans-serif';
  word-spacing: 0px;
  font-weight: bold;
  
}
.options a:hover{
  text-decoration: underline black;
}
.options a{

  text-decoration: none;
  color: black;
  display: inline;
  
}